body{
    background-color: #424242 !important;
}

header{
    height: 100px;
    border-bottom: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100vw;
}

header .logo img{
    width: 250px;
    object-fit: contain;
}

header ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

header .menuItens{
    color: white;
    cursor: pointer;
    border-bottom: solid transparent;
    transition: all 0.5s;
}

header .menuItens:hover{
    border-bottom: solid;
}

header ul li a{
    text-decoration: none;
    color: orange;
    border: solid;
    padding: 5px 30px;
    transition: all 0.5s;
}
header ul li a:hover{
    background-color: orange;
    color: white;
    border: solid transparent;
}