.map{
  height: 80vh;
  background-color: #2B2B2B;
  padding: 20px;
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  .map{
    height: auto;
  }
}

.centraGrid{
  width: 50vw;
  display: flex;
  justify-content: center;
}

.gridMap{
  height: fit-content;
}

.gridMap img{
  width: 60%;
}


#item1{
  grid-area: item1;
  width: 150px;
}
#item2{
  grid-area: item2;
  width: 200px;
}
#item3{
  grid-area: item3;
  width: 350px;
}

.gridMap{
  display: grid;
  grid-template-columns: 150px 200px;
  grid-template-areas: 
  'item1 item2'
  'item3 item3';
  grid-gap: 10px 0px;
}

.descMap{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px 0px;
  margin: 40px 0px !important;
}

.descMap h2{
  color: orange;
  text-align: center;
  font-size: 40px;
}

.descMap p{
  color: white;
  text-align: center;
  width: 80%;
}

.descMap a{
  text-decoration: none;
  color: orange;
  border: solid;
  padding: 5px 20px;
  transition: all 0.5s;
}

.descMap a:hover{
  color: white;
  border: solid transparent;
  background-color: orange;
}