::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background-color: gray;
}

::-webkit-scrollbar-thumb {
background-color: #f49555;
border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #aaa;
}
    

body{
    background-image: url(https://images4.alphacoders.com/209/209316.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-items: center;
  
    

}

fieldset{
    width:70%;
    height: 10%;
    border-radius: 0 20px 0 20px;
    border: 2px solid black;
    padding: 0 7px;
    margin: 0;
}

legend{
    font-weight: bold;
    font-size: 15px;
}

input{
    padding: 0;
    outline: none;
    border: none;   
}

input[name="senha"],
input[value="?"]{
    margin: 7px;
}

input[value="?"]{
    width: 25px;
    height: 25px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgb(46, 162, 46);
    border-radius: 0 4px 0 4px;
    cursor: pointer;
}

input[type="submit"], #voltar{
    background-color: rgb(46, 162, 46);
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0 5px 0 5px;
    font-size: 15px;

}

#voltar{
    font-size: 15px;
    text-decoration: none;
}

.btns-cad{
    display: flex;
    gap: 10px;
    align-items: center;
}

a{
    font-size: 10px;
}



form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    padding: 50px;
    gap: 10px;
    border-radius: 0 30px 0 30px;
}

fieldset{
    width:70%;
    height: 10%;
    border-radius: 0 20px 0 20px;
    border: 2px solid black;
    padding: 0 7px;
    margin: 0;
}

legend{
    font-weight: bold;
    font-size: 15px;
}

input{
    padding: 0;
    outline: none;
    border: none;
    margin: 7px;
}

.btns-cad input:disabled{
    background-color: gray;
}


input[value="?"]{
    width: 25px;
    height: 25px;
    color: #ffffff;
    font-weight: 700;
    background-color: rgb(46, 162, 46);
    border-radius: 0 4px 0 4px;
    cursor: pointer;
}

input[type="submit"]{
    background-color: rgb(46, 162, 46);
    padding: 10px;
    cursor: pointer;
    color: #ffffff;
    border-radius: 0 5px 0 5px;
    font-size: 15px;

}

a{
    font-size: 10px;
}

.erro{
    font-weight: bold;
    color: black;
}

