* {
    margin: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: #f49555;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

body {
    background-color: #565555;
    font-family: sans-serif;
    font-weight: bold;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: orange;
}

.back {
    height: 70vh;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 20vw 80vw;
    /* place-items: center; */
    background-image: url(../img/mustang.png);
    /* background-size: 100vw 70vh; */
    background-size: cover;
    background-position: center -150px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media (max-width: 800px) {
    .back{
        grid-template-columns: auto;
        height: 82vh;
    }
    form{
        margin: 0px 30px !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}
/* @media (max-width: 1400px) {
    .back{
        background-size: cover;
        background-position: center center;
    }
} */

header {
    display: flex;
    flex-direction: column;
    gap: 10px 0px;
    height: auto;
    padding: 20px;
}

header a {
    padding: 10px;
    transition: all 0.5s;
    text-decoration: underline transparent;
    border: solid transparent;
    border-left: solid;
    border-radius: 2px;
    cursor: pointer;
}

header a:hover {
    border: solid;
}

header img{
  width: 200px;
}

button{
    padding: 10px;
    transition: all 0.5s;
    color: orange;
    border: solid transparent;
    border-left: solid;
    border-radius: 2px;
    cursor: pointer;
    background: none;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    
}

button:hover{
    border: solid;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

form input[type="text"] {
    padding: 5px;
    width: 50%;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
    transition: all 0.5s;
}
@media (max-width: 500px) {
  form input[type="text"] {
    width: 100%;
  }
}

form input[type="text"]:focus {
    outline: none;
    border: 3px solid black;
    border-radius: 30px 0px 30px 0px;
}

form input[type="submit"] {
    padding: 7px 20px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: red;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.5s;
    
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    /* background-color: aqua; */
}

.simBtn{
    border: 3px solid white;
    color: white;
    width: 20%;
}

.naoBtn{
    border: 3px solid white;
    color: white;
    width: 20%;
}

.simBtn:hover{
    background-color: white;
    color: black;
    border-radius: 30px 0px 30px 0px;
}

.naoBtn:hover{
    background-color: white;
    color: black;
    border-radius: 30px 0px 30px 0px;
}

.modal-content{
    background-color: black;
    opacity: 0.6;
    width: 35%;
    border-radius: 20px 0px 20px 0px;
}

.pmodal{
    color: white;
    opacity: 1;
}

.clos:hover{
    color: white;
}

form input[type="submit"]:hover {
    border-radius: 30px  0px 30px 0px;
    background-color: black;
    border: 2px solid white;
}

.cards {
    padding: 20px;
    border-top: solid rgba(0, 0, 0, 0.208);
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    gap: 30px;
    flex-wrap: wrap;
    background-image: url(../img/Group\ 13.png);
    background-size: 90vw;
    background-repeat: no-repeat;
    background-position: 0px 100px;
}
@media (max-width: 900px) {
    .cards{
        grid-template-columns: auto auto;
    }
}
@media (max-width: 650px){
    .cards{
        grid-template-columns: auto;
    }
}

.cards div {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    padding: 20px 10px;
    box-shadow: 1px 5px 0px gray;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
@media (max-width: 600px){
    .cards div{
        width: 70vw;
    }
}

.cards div a{
    margin: 5px auto;
    transition: all 0.5s;
}

.cards div a:hover {
    color: red;
}

.cards div p {
    padding: 5px 0px;
}

.cards div legend {
    color: gray;
}

.pags {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px;
}

.pags a {
    padding: 5px;
    transition: all 0.5s;
}

.pags a:hover {
    text-decoration: underline;
}

.historico{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.historico form{
    margin: 0px;
    display: flex;
    align-items: center;
}

.historico p{
  text-align: center;
}