/* Modal */
.mod {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  /* Modal content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
  }
  
  /* Close button */
  .clo {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .clo:hover,
  .clo:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }