/* Modal */
.moda {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
  }
  
  /* Modal content */
  .modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    border-radius: 20px 0px 20px 0px;
  }
  
  /* Close button */
  .clos {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .clos:hover,
  .clos:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  a {
    padding: 10px;
    transition: all 0.5s;
    text-decoration: underline transparent;
    border: solid transparent;
    border-radius: 2px;
    color: orange;
  }

  .botoesHeader a:hover{
    border-bottom: solid;
  }


  