.precos{
    background-attachment: fixed;
    background-image: url(../../img/fundoPrecos.png);
    background-size: cover;
    background-position: center center;
    display: flex;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.precos h2{
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 4px 4px 4px #000000;
}

.boxCards{
    display: flex;
    justify-content: center;

}

.titulo{
    
    padding: 10px;
    background-color: #FF4545;
    color: #ffffff;
    border-radius: 20px 0 0 0;

}

.titulo h4{
    font-size: 20px;
}

.cardPreco{

    margin: 30px;
    height: 200px;
    width: 300px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.3));
    
}

.cardPreco button{
    margin: auto ;
    height: 40px;
    width: 200px;
    border: 3px solid black;
    color: black;
    font-size:15px;
    font-weight: 700;
    transition: 0.5s;

} 

.cardPreco button:hover{
    background-color: #000000;
    color: #ffffff;
}
