.valores{
    background-color: #555555;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 20px;
    padding: 150px;
    

}


.card-animado{
  
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 310px;
    border-radius: 10px;
    padding: 40px;
    gap: 20px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.7);
    cursor: pointer;
    transition:  0.5s;

    
}

.tec{
    background: black;
    color: #ffffff;
}

.card-animado img{
    width: 70px;
}

#imagem-tecnologia{
    width: 110px;
}


.card-animado:hover{

   background-color: black;
   color: #ffffff;
}



.valores h2{
    color: #ffffff;
    font-weight: 600;
    text-shadow: 4px 4px 4px #000000;
    font-size: 40px;
    
}

@media (max-width:1000px) {
    .card-animado{
        height: auto;
        width: auto;
    }

    .valores{
        padding: 70px;
    }
    
}


